ul li{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1em;
}
/* The Modal (background) */
.modal-test {
    display: block; /* Hidden by default */
    position: fixed;
    width: 70%;
    top: 50%;
    right: 10%;
background-color:red;

  }
  
